/* *{
    outline: 1px solid red;
} */
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0;
}

.nav {
    display: flex;
    gap: 30px;
    align-items: center;
}

.nav a {
    text-decoration: none;
}

.freeguide {
    background-color: #20AD96;
    color: white;
    padding: 10px;
    border-radius: 12px;
    text-decoration: none;
}


/* ... */


.aboutme {
    /* width: 80%; */
    display: flex;
    justify-content: space-around;
    height: 80vh;
    background-color: #faf8f6;
    align-items: center;
}

.left p:nth-child(1) {
    padding: 10px 0;
    color: #4A556C;
    font-size: 14px;
}

.left h1 {
    font-size: 70px;
    font-weight: bold;
    color: #333461;
}

.left p:nth-child(3) {
    color: black;
    line-height: 25px;
    padding-bottom: 40px;
    width: 400px;
}

.right img {
    padding-top: 90px;
}

.right {
    position: relative;
}

.icone img:nth-child(1) {
    position: absolute;
    top: -57px;
}

.icone img:nth-child(2) {
    position: absolute;
    top: 200px;
    right: -160px;
}


/* ... */

.logo2{
    padding: 20px 0;
}



.logo2 p {
    width: 100%;
    color: #4A556C;
    font-size: 14px;
    text-align: center;
    padding: 35px 0 10px 0;

}

.iconelar{
    display: flex;
    justify-content: space-around;
}


/* ... */

.div {
    height: 80vh;
    background: #faf8f6;
    /* display: flex; */
}

.div h2 {
    padding: 30px;
    color: #333461;
    font-weight: bold;
    font-size: 40px;
    width: 30%;
    margin-left: 50px;
}

.s {
    color: #333461;
    font-weight: bold;
}

.div h3 {
    color: #333461;
    font-weight: bold;
}

.text {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

/*  */

.orta {
    background: white;
    /* padding: 25px 0px; */
    width: 30% !important;
    height: 240px;
    padding: 0 5px !important;
}


.bir {
    /* margin: 30px 30px; */
    background: white;
    width: 30% !important;
    height: 270px;
    padding: 0 5px !important;

}




.text p {
    /* width: 50%; */
    margin: 10px 0;
}


.text img {
    margin-top: 10px;
}


/* ..... */

.leader {
    text-align: center;
    margin: 30px;
    color: #333461;
}

.oun p {
    /* color: #faf8f6; */
    margin: 10px 0;
}

.oun h2 {
    font-weight: bold;
    font-size: 34px;
    padding-bottom: 20px;
}

.oun span {
    width: 40%;
    padding: 20px 0;
}

hr {
    color: red;
    width: 15px;
    /* text-align: center; */
    margin: 17px auto;
    background: red;
}

.group p {
    width: 85%;
    margin: auto;
    /* text-align: center; */
}

.zero {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
}

.group {
    width: 32%;
    margin: 10px auto;
}

.yaz {
    text-align: center;
    margin: 30px 0;
}

.yaz h2 {
    color: #333461;
    font-size: 48px;
    font-weight: bold;
    margin: 20px 0
}

.yaz p {
    color: #333461;
}

.nomer {
    margin: 40px auto;
    text-align: left;
    color: #333461;
    /* justify-content: start; */
    /* width: 80%; */
    /* margin: 40px 60px; */
}

.nomer h3 {
    width: 100%;
    padding: 5px 0;
}


.park a {
    text-align: center;
    margin: auto;
    color: white;
    background: #20AD96;
    text-decoration: none;
    padding: 10px 27px;
    border-radius: 12px;
    margin-top: 10px;
}


/* accordion */

.holder {
    padding: 30px;
  }
  .holder .item {
    /* border: 1px solid #DEE2E6; */
  }
  .holder .item:first-child {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
  }
  .holder .item:last-child {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
  }
  .holder .accordion {
    margin: 0;
    color: #222222;
    cursor: pointer;
    padding: 1.225rem;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    font-size: 1.125rem;
  }
  .holder .accordion:after {
    content: "\221F";
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: left;
            transform-origin: left;
    float: right;
    font-size: 20px;
    color: #000000;
    -webkit-transition: -webkit-transform 0.2s ease-in;
    transition: -webkit-transform 0.2s ease-in;
    transition: transform 0.2s ease-in;
    transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
  }
  .holder .active, .holder .accordion:hover {
    background-color: #CFE2FF;
    color: #0A58CA;
  }
  .holder .active:after {
    content: "\221F";
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
    -webkit-transform-origin: center;
            transform-origin: center;
    font-size: 20px;
  }
  .holder .accordion-content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.4s ease-in-out;
    transition: max-height 0.4s ease-in-out;
    font-size: 1rem;
    line-height: 1.7;
  }
  /* /// */

  .notified{
    /* height: 500px; */
  }